form {
    text-align:center;
    line-height: 2;
}
.class-table{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width:550px;
    height: 70px;
    border-spacing: 0px;

}
.class-table td{
    border:1px solid black;
}